In [8]:
import pandas as pd
import datetime
from pathlib import Path

In [11]:
datapath = Path.cwd().parent / 'data' / 'iris.csv'
test_path = datapath.parent / 'iris_test.csv'
ans_path = datapath.parent / 'iris_ans.csv'
now_dt = datetime.datetime.now()
now_dt_str = now_dt.strftime("%Y%m%d%H%M%S")

In [13]:
raw_df = pd.read_csv(datapath)

# IDを付与
id_list = [now_dt_str + f'_{n+1}' for n in range(len(raw_df))]
raw_df['ID'] = id_list

# 保存
# 正解を保存
display(raw_df.head())
raw_df.to_csv(ans_path, index=False)

# テストデータを保存
raw_df = raw_df.drop(columns=['species'])
raw_df.to_csv(test_path, index=False)
display(raw_df.head())

,sepal_length,sepal_width,petal_length,petal_width,species,ID
0,5.1,3.5,1.4,0.2,setosa,20240224163327_1
1,4.9,3.0,1.4,0.2,setosa,20240224163327_2
2,4.7,3.2,1.3,0.2,setosa,20240224163327_3
3,4.6,3.1,1.5,0.2,setosa,20240224163327_4
4,5.0,3.6,1.4,0.2,setosa,20240224163327_5

   sepal_length  sepal_width  petal_length  petal_width                ID
0           5.1          3.5           1.4          0.2  20240224163327_1
1           4.9          3.0           1.4          0.2  20240224163327_2
2           4.7          3.2           1.3          0.2  20240224163327_3
3           4.6          3.1           1.5          0.2  20240224163327_4
4           5.0          3.6           1.4          0.2  20240224163327_5