In [2]:
import pandas as pd
import datetime
from pathlib import Path

In [3]:
datapath = Path.cwd().parent / 'data' / 'iris.csv'
test_path = datapath.parent / 'iris_test.csv'
ans_path = datapath.parent / 'iris_ans.csv'
now_dt = datetime.datetime.now()
now_dt_str = now_dt.strftime("%Y%m%d%H%M%S")

In [4]:
raw_df = pd.read_csv(datapath)

# IDを付与
id_list = [now_dt_str + f'_{n+1}' for n in range(len(raw_df))]
raw_df['ID'] = id_list

# 保存
# 正解を保存
display(raw_df.head())
raw_df.to_csv(ans_path, index=False)

# テストデータを保存
raw_df = raw_df.drop(columns=['species'])
raw_df.to_csv(test_path, index=False)
display(raw_df.head())

,sepal_length,sepal_width,petal_length,petal_width,species,ID
0,5.1,3.5,1.4,0.2,setosa,20240224180104_1
1,4.9,3.0,1.4,0.2,setosa,20240224180104_2
2,4.7,3.2,1.3,0.2,setosa,20240224180104_3
3,4.6,3.1,1.5,0.2,setosa,20240224180104_4
4,5.0,3.6,1.4,0.2,setosa,20240224180104_5

   sepal_length  sepal_width  petal_length  petal_width                ID
0           5.1          3.5           1.4          0.2  20240224180104_1
1           4.9          3.0           1.4          0.2  20240224180104_2
2           4.7          3.2           1.3          0.2  20240224180104_3
3           4.6          3.1           1.5          0.2  20240224180104_4
4           5.0          3.6           1.4          0.2  20240224180104_5

In [24]:
from json import loads, dumps
json_dict = raw_df.loc[:2].to_json(orient='records')
parsed = loads(json_dict)
json_data = dumps(parsed, indent=4)
json_data

'[\n    {\n        "sepal_length": 5.1,\n        "sepal_width": 3.5,\n        "petal_length": 1.4,\n        "petal_width": 0.2,\n        "ID": "20240224180104_1"\n    },\n    {\n        "sepal_length": 4.9,\n        "sepal_width": 3.0,\n        "petal_length": 1.4,\n        "petal_width": 0.2,\n        "ID": "20240224180104_2"\n    },\n    {\n        "sepal_length": 4.7,\n        "sepal_width": 3.2,\n        "petal_length": 1.3,\n        "petal_width": 0.2,\n        "ID": "20240224180104_3"\n    }\n]'

In [28]:
target_data_dict = [{
    "id": "sfadfa",
    "sepal_length": 1,
    "sepal_width": 2,
    "petal_length": 1,
    "petal_width": 2
}]

a = dumps(target_data_dict)
a

'[{"id": "sfadfa", "sepal_length": 1, "sepal_width": 2, "petal_length": 1, "petal_width": 2}]'

In [32]:
target_data_dict[0]['id']

'sfadfa'

In [ ]:
json_dict = {'data': [
    {'rowId': 0,
     'prediction': 'setosa',
     'predictionValues': [
         {'label': 'setosa', 'value': 0.9969810843},
         {'label': 'versicolor', 'value': 0.0009908568},
         {'label': 'virginica', 'value': 0.002028075}
         ],
     'passthroughValues': {'ID': '20240224180104_1'},
     'deploymentApprovalStatus': 'APPROVED'}
    ]
             }